@using System.Security.Claims
@using Newtonsoft.Json
@using pizzashop.Entity.ViewModels
@using pizzashop.Service.Utils
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - pizzashop-OrderApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/OrderAppLayout.css" />
</head>

@await Html.PartialAsync("_Toast")

@{

    CookieData user = SessionUtils.GetUser(HttpContextAccessor.HttpContext);
    var Username = user?.Username;
    var Profileimg = user?.Image;
    var defaultImg = Url.Content("../images/Default_pfp.svg.png");
    var profileImageUrl = !string.IsNullOrEmpty(Profileimg) ? Url.Content("~/uploads/" + Profileimg) : defaultImg;
    string? token = HttpContextAccessor.HttpContext?.Request.Cookies["CustomerToken"];
}


<body>
    <div class="">

        <nav class="navbar navbar-expand orderapp-navbar  d-flex justify-content-between p-2">
            <div class="d-flex align-items-center gap-2">
                <div class="bg-white" width="100%" height="45px">
                    <img src="~/images/pizzashop_logo.png" width="100%" height="40px" alt="logo">
                </div>
                <h5 class="text-white mt-1 d-none d-md-inline">PIZZASHOP</h5>
            </div>
            @if (string.IsNullOrEmpty(token))
            {
                <div class="d-flex align-items-center justify-content-end gap-1 gap-sm-3">

                    <div class="d-none d-md-flex align-items-center gap-1 gap-sm-3">
                        <a asp-controller="KOT" asp-action="KOT">
                            <span class="badge badge-pill px-2 px-sm-3"><i
                                    class="bi bi-clipboard-check-fill me-0 me-md-1"></i><span>KOT</span></span>
                        </a>
                        @if (user.Rolename == "Account Manager")
                        {
                            <a asp-controller="WaitingList" asp-action="WaitingList">
                                <span class="badge badge-pill px-2 px-sm-3"><i
                                        class="bi bi-clock-fill me-0 me-md-1"></i><span>Waiting List</span></span>
                            </a>
                            <a asp-controller="TableOrderApp" asp-action="TablesOrder">
                                <span class="badge badge-pill px-2 px-sm-3"><i
                                        class="bi bi-square-fill me-0 me-md-1"></i><span>Tables</span></span>
                            </a>
                            <a asp-controller="MenuOrderApp" asp-action="MenuOrders">
                                <span class="badge badge-pill px-2 px-sm-3"><img src="~/images/menu-item-fill.png" width="20px"
                                        height="100%" class="me-0 me-md-1"><span>Menu</span></span>
                            </a>
                        }
                    </div>

                    <div class="menu-icon dropdown d-md-none">
                        <button id="mobileMenuToggle" class="btn btn-outline-light dropdown-toggle px-2 py-1" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="activeMenuName">Tables</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item" asp-controller="KOT" asp-action="KOT" data-controller="KOT">
                                    <i class="bi bi-clipboard-check-fill me-2"></i> KOT
                                </a>
                            </li>
                            @if (user.Rolename == "Account Manager")
                            {
                                <li>
                                    <a class="dropdown-item" asp-controller="WaitingList" asp-action="WaitingList"
                                        data-controller="WaitingList">
                                        <i class="bi bi-clock-fill me-2"></i> Waiting List
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="TableOrderApp" asp-action="TablesOrder"
                                        data-controller="TableOrderApp">
                                        <i class="bi bi-square-fill me-2"></i> Tables
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="MenuOrderApp" asp-action="MenuOrders"
                                        data-controller="MenuOrderApp">
                                        <img src="~/images/menu-icon.png" width="20px" class="me-2"> Menu
                                    </a>
                                </li>
                            }
                        </ul>

                    </div>
                    <img class="profile-img dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton1"
                        src="@profileImageUrl" aria-expanded="false" style="border-radius:50%" />

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item border-bottom"> <img src="@profileImageUrl" class="me-2" width="40px"
                                    height="40px" style="border-radius:50%">@Username</a></li>
                        <li><a class="dropdown-item" asp-controller="Profile" asp-action="UserProfile"
                                asp-route-from="Order"> <i class="bi bi-person-circle me-3"></i>My profile</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#logoutModal"><i
                                    class="bi bi-box-arrow-right me-3"></i>Logout</a></li>
                    </ul>
                </div>
            }

        </nav>
        <div>
            <div class="px-3 px-lg-4 py-4 main-container">
                @RenderBody()
            </div>
        </div>

    </div>


    <!-- modal -->
    <div class="modal fade modal-delete" id="logoutModal" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                    <img src="../images/warning-icon.svg" alt="" width="40px" height="40px"><br>
                    <span>Are you sure you want to Logout?</span>
                </div>
                <div class="modal-footer d-flex justify-content-center gap-2">
                    <form method="post">
                        <button type="submit" asp-controller="Auth" asp-action="Logout" class="btn btn-primary"
                            data-bs-dismiss="modal">YES</button>
                        <button type="button" class="btn btn-danger">NO</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>

    <!-- jQuery Validation Plugin -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <!-- jQuery Unobtrusive Validation -->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)


</body>

</html>

<script>
    $(document).ready(function () {

        function activeClass() {
            let path = window.location.pathname.split("/");
            let currentController = path[1];
            let activeName = "Tables"; // default fallback

            $(".orderapp-navbar a").each(function () {
                let menu = $(this).attr("href");
                let path = menu.split("/");
                let menuController = path[1];

                if (menuController === currentController) {
                    $(this).find('span').addClass("active"); // Apply active class
                    // Set menu text based on the controller
                    switch (menuController) {
                        case "TableOrderApp":
                            $("#activeMenuName").text("Tables");
                            break;
                        case "MenuOrderApp":
                            $("#activeMenuName").text("Menu");
                            break;
                        default:
                            $("#activeMenuName").text(menuController);
                    }
                    return;
                }
            });

        }

        activeClass();

    });

</script>
