@model pizzashop.Entity.ViewModels.OrderDetails
@* <title> PizzaShop</title>
<link rel="icon" type="image/x-icon" href="~/images/pizzashop_logo.png"> *@
<style>
        .main-color-text{
                color: #087cc4;
        }
        .table .main-color-bg {
                background-color: #087cc4;
         }
         .table .text-white
         {
           color: white!important;
         }
</style>

<body class="bg-white text-secondary mt-3">
        <div class="full-logo fs-6 main-color-text fw-bolder d-flex gap-3 align-items-top ps-4 pt-2 mb-3 justify-content-center"
                style="height: 80px">
                <img src="~/images/pizzashop_logo.png" style="width: auto; height: 100%" alt="Pizza Image" />
                <p class="mt-3 fs-3 ">PIZZASHOP</p>
        </div>
        <div class="detail-div mx-5 px-5">


                <div class=" d-flex justify-content-between mb-5  text-secondary">
                        <div class="w-50">
                                <span class="main-color-text fs-5">Customer Details</span><br>
                                <div class="lh-sm mt-2">
                                        <span>Name : @Model.Customername</span><br>
                                        <span>Mob : @Model.Phoneno</span>
                                </div>
                        </div>
                        <div class="w-50 ">
                                <span class="main-color-text fs-5 mb-3">Order Details</span><br>
                                <div class="lh-sm mt-2">
                                        <span>Invoice Number : #@Model.Invoicenumber</span><br>
                                        <span>Date : @Model.PlacedOn</span><br>
                                        <span>Section : @Model.Sectionname</span><br>
                                        <span>Table :
                                                @foreach (var table in @Model.Tablenames)
                                                {
                                                        @table
                                                }
                                        </span>
                                </div>
                        </div>
                </div>

                <table class="table">
                        <thead>
                                <tr class="main-color-bg text-white">
                                        <th scope="col" class="main-color-bg text-white">Sr No.</Src>
                                        </th>
                                        <th scope="col" class="main-color-bg text-white">Item</th>
                                        <th scope="col" class="main-color-bg text-white">Quantity</th>
                                        <th scope="col" class="main-color-bg text-white">Unit Price</th>
                                        <th scope="col" class="main-color-bg text-white text-end">Total</th>
                                </tr>
                        </thead>
                        <tbody>
                                @foreach (var item in Model.Items)
                                {
                                        <tr>
                                                <td class="">1</td>@{
                                                @* index++; *@
                                        }
                                        <td class="lh-sm">@item.Itemname<br>
                                                @foreach (var modifiers in item.Modifiers)
                                                {
                                                        <span>@modifiers.Modifiername</span>
                                                        <br>
                                                }
                                        </td>
                                        <td class="lh-sm">@item.Quantity<br>
                                                @foreach (var modifiers in item.Modifiers)
                                                {
                                                        <span>@modifiers.Quantity</span>
                                                        <br>
                                                }
                                        </td>
                                        <td class="lh-sm">@item.Rate<br>
                                                @foreach (var modifiers in item.Modifiers)
                                                {
                                                        <span>@modifiers.Rate</span>
                                                        <br>
                                                }
                                        </td>
                                        <td class="lh-sm text-end">@item.TotalAmount<br>
                                                @foreach (var modifiers in item.Modifiers)
                                                {
                                                        <span>@modifiers.TotalAmount</span>
                                                        <br>
                                                }
                                        </td>

                                </tr>
                                
                                      }

                        </tbody>
                </table>
                <div class="text-secondary">
                        <div class="d-flex justify-content-between">
                                <div>SubTotal :</div>
                                <div>@Model.Subamount</div>
                        </div>
                        @* @{
                                totalBill = totalBill + subTotal;
                                totalBill = totalBill + itemPerTax;
                        } *@
                        @foreach (var tax in Model.Taxes)
                        {
                                <div class="d-flex justify-content-between">
                                        <div>@tax.Taxname :</div>
                                        <div>₹@tax.Taxvalue
                                        </div>
                                </div>
                        }
                        <div>
                                <div class="d-flex justify-content-between">
                                        <div>Other :</div>
                                        <div></div>
                                </div>
                                <hr style="background-color: #1f73ae; height: 3px; border: 0;">
                                <div class="d-flex justify-content-between main-color-text fw-bolder">
                                        <div>Total Amount Due: @Model.Totalamount</div>
                                        <div></div>
                                </div>
                        </div>
                        <div class="mt-5">
                                <span class="main-color-text fw-bolder">Payment Information</span><br>
                                Payment Method:
                        </div>

                </div>
                <div class="  fw-bolder d-flex justify-content-center">

                        <p class="mt-3 fs-5 main-color-text ">Thank You!</p>
                </div>
</body>
