@using static pizzashop.Entity.Models.Enums
@model List<pizzashop.Entity.ViewModels.ItemTable>;


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </th>
                <th>
                    Name
                </th>
                <th>Item Type</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Available</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </td>
                    <td class="w-25">

                        <div class="d-flex gap-3 align-items-center">
                            <img class="dining-menu-img" src="../images/dining-menu.png" />
                            <div>@item.Itemname</div>
                        </div>


                    </td>
                    <td>
                        <img class="veg-nonveg-icon" src=@(@item.itemtype == itemtype.Veg ? "../images/veg-icon.svg": 
                        (@item.itemtype == itemtype.NonVeg ? "../images/non-veg-icon.svg" : "../images/vegan-icon.svg"))>

                    </td>
                    <td>
                        @item.Rate
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>

                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-3 edit-delet"><button class="button edit-item" data-itemid="@item.Itemid"
                                ><img src="../images/pencil.svg"></button><button class="button"
                                data-bs-toggle="modal" data-bs-target="#deleteItem"><img class="delete-icon"
                                    src="../images/trash.svg"></button>
                        </div>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<div class="d-flex justify-content-end gap-2 pagging pe-2 mb-5">
    <label>Items Per Page:</label>
    <input type="number" placeholder="1">
    <span>
        Showing 1-5 of 5
    </span>
    <button>
        < </button>
            <button>></button>
</div>


 <!-- Edit item -->
<div class="modal-addNewItem">
</div>


<script>

   $(document).ready(function () {


      $(".edit-item").click(function (e) {
            e.preventDefault();
            var itemId = $(this).data("itemid");
            console.log("itemId");

             $.ajax({
                url: "/Menu/EditItem",
                type: "GET",
                data: { id: itemId },
                success: function (data) {
                    $(".modal-addNewItem").html(data);
                    $("#updateItem").modal("show");
                },
                error: function () {
                     alert("failed to reload modal");
                }
            });
         });
    });


</script>



