@using static pizzashop.Entity.Models.Enums
@model List<pizzashop.Entity.ViewModels.ItemTable>;


<div class="table-responsive" id="item-table">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input class="form-check-input" type="checkbox" value="" id="masterCheckbox">
                </th>
                <th>
                    Name
                </th>
                <th>Item Type</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Available</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
              <input type="hidden" id="catid" value="@(Model.FirstOrDefault()?.Categoryid ?? 0)"> 
            @foreach (var item in Model)
            {
                
                <tr>
                    <td>
                        <input class="form-check-input" name="Sitem" type="checkbox" value="@item.Itemid">
                    </td>
                    <td class="w-25">

                        <div class="d-flex gap-3 align-items-center">
                            <img class="dining-menu-img"
                                src="@(string.IsNullOrEmpty(item.Itemimg) ? "../images/dining-menu.png" : item.Itemimg)"
                                style="border-radius: 50%;" />
                            <div>@item.Itemname</div>
                        </div>



                    </td>
                    <td>
                        <img class="veg-nonveg-icon" src=@(@item.itemtype == itemtype.Veg ? "../images/veg-icon.svg": 
                        (@item.itemtype == itemtype.NonVeg ? "../images/non-veg-icon.svg" : "../images/vegan-icon.svg"))>

                    </td>
                    <td>
                        @item.Rate
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input available-switch"  data-itemid="@item.Itemid"
                             type="checkbox" id="flexSwitchCheckChecked" @(item.Isavailable? "checked" : "")>

                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-3 edit-delet"><button class="button edit-item" data-itemid="@item.Itemid"
                                ><img src="../images/pencil.svg"></button><button class="button"
                                data-bs-toggle="modal" data-bs-target="#deleteItem"><img class="delete-icon delete-item-link"
                                   data-itemid="@item.Itemid" data-categoryid="@item.Categoryid
                                   " src="../images/trash.svg"></button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* <div class="d-flex justify-content-end gap-2 pagging pe-2 mb-5">
    <label>Items Per Page:</label>
    <input type="number" placeholder="1">
    <span>
        Showing 1-5 of 5
    </span>
    <button>
        < </button>
            <button>></button>
</div> *@

@if(Model.Count()==0)
{
    <h1 class="d-flex align-items-center justify-content-center">No data Found.</h1>
}
else
{
             <div class="d-flex justify-content-end align-items-center gap-2 mt-2 p-3 text-secondary">
                <div class="d-flex align-items-center">
                    <span class="d-none d-sm-inline px-1">Items Per page:</span>
                    <select id="pageSizeSelect" class="form-select form-select-sm" style="width: auto;">
                        <option value="5" selected="@(ViewBag.PageSize == 5)">5</option>
                        <option value="10" selected="@(ViewBag.PageSize == 10)">10</option>
                        <option value="25" selected="@(ViewBag.PageSize == 25)">25</option>
                    </select>
                </div>
                <div class="d-flex align-items-center gap-2">
                    <span class="d-none d-sm-inline px-1">
                        Showing @(ViewBag.totalitem > 0 ? ((ViewBag.CurrentPage - 1) * ViewBag.PageSize + 1) : 0)
                        - @(ViewBag.totalitem > 0 ? Math.Min(ViewBag.CurrentPage * ViewBag.PageSize,
                          ViewBag.totalitem) :
                          0)
                        of @ViewBag.totalitem
                    </span>
                    <nav class="mt-3">
                        <ul class="pagination pagination-sm">
                            <!-- Previous Page -->
                            <li class="page-item @(ViewBag.CurrentPage > 1 ? "" : "disabled")">
                                <a class="page-link pagination-link" href="#" data-page="@(ViewBag.CurrentPage - 1)">
                                    <i class="bi bi-chevron-left"></i>
                                </a>
                            </li>

                            <!-- Next Page -->
                            <li class="page-item @(ViewBag.CurrentPage < ViewBag.TotalPages ? "" : "disabled")">
                                <a class="page-link pagination-link" href="#" data-page="@(ViewBag.CurrentPage + 1)">
                                    <i class="bi bi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

}



 <!-- Edit item -->
<div class="modal-addNewItem">
</div>


 <!-- delete Item modal -->
    <div class="modal fade modal-delete" id="deleteItem" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <input type="hidden" id="hidden" value="">
            <input type="hidden" id="Categoryid" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center justify-content-center">
                    <img src="../images/warning-icon.svg" alt="" width="50px" height="50px"><br>
                    <span>Are you sure you want to delete this Item?</span>
                </div>
                <div class="modal-footer d-flex justify-content-center gap-2">
                    <button type="button" class="btn btn-primary delete-item" data-bs-dismiss="modal">YES</button>
                    <button type="button" class="btn btn-danger">NO</button>
                </div>
            </div>
        </div>
    </div>


<script>

   $(document).ready(function () {


       $(".edit-item").click(function (e) {
            e.preventDefault();
            var itemId = $(this).data("itemid");
            console.log("itemId");

             $.ajax({
                url: "/Menu/EditItem",
                type: "GET",
                data: { id: itemId },
                success: function (data) {
                    $(".modal-addNewItem").html(data);
                    $("#updateItem").modal("show");
                },
                error: function () {
                     alert("failed to reload modal");
                }
            });
            
         }); 

         $(document).on("click", ".delete-item-link", function (e) {
             var ItemId = $(this).data("itemid");
             var Categoryid = $(this).data("categoryid");
                 $("#hidden").val(ItemId); 
                 $("#Categoryid").val(Categoryid);
         });

    });


</script>



